<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:annotation-config/>

    <bean id="blueRobot" class="start.Robot"  >
        <!--<property name="head" ref="blueHead"/>-->
        <!--<property name="leg" ref="blueLeg"/>-->
    </bean>

    <bean id="redRobot" class="start.Robot">
        <!--<constructor-arg ref="redHead"/>-->
        <!--<constructor-arg ref="redLeg"/>-->
        <property name="head" ref="redHead"/>
        <property name="leg" ref="redLeg"/>
    </bean>

    <bean id="blueHead" class="objects.BlueHead"/>
    <bean id="blueLeg" class="objects.BlueLeg"/>
    <bean id="redHead" class="objects.RedHead" autowire-candidate="false"/>
    <bean id="redLeg" class="objects.RedLeg"/>


</beans>